/runs/*
/test_res
/output
/logs
/checkpoints/*
/checkpoints_wobce/*
/checkpoints_womfuse/*
/checkpoints_45layer/*
/ckp_nonlocal_5e5/*
/ckp_nonlocal/*
/vis/*
/vis2/*
*.pyc
*.png
*.jpg
*.pth
*.pth.tar
*.txt